/*公共样式基础样式*/
html,body, div, ul, p,span,textarea, form, input, dl, dt, dd, img, section, article, aside, header, footer, nav, dialog, figure, hgroup {
	margin:0;
	padding:0;
	font-size:14px;
	
}
h1, h2, h3, h4, h5, h6{ margin:0; padding:0; line-height:1.5;}
h1{ font-size:30px;}
h2{ font-size:24px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
h1, h2, h3, h4, h5, h6{ font-weight:500;}
small{ font-size:75%; margin-left:5px; color:#666;}
em {
	font-style:normal;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust:none;
	color:#313131;
	line-height:1.5;
	
}
ul, ol, li {
	list-style:none
}
.clearfix {
	clear:both;
	overflow:hidden
}
img {
	border:0 none;
	display: block;
	/*max-width: 100%;*/
	width: 100%;/*add10-13*/
}
a {
	text-decoration:none;
	color:#313131;
	-webkit-tap-highlight-color:rgba(0, 0, 0, .5);
}
a {
	-webkit-touch-callout:none;
}
* {
	-webkit-tap-highlight-color:rgba(0, 0, 0, .5)
}

.fl{float: left;}
.fr{float: right;}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.txt-indent{ text-indent: 2em;}
.dash-line{ padding-bottom: 20px; border-bottom: 1px dashed #CCCCCC;}
.cursor{ cursor: pointer;}
.color-fff{ color: #FFFFFF;}
.color-dd2727{ color: #dd2727;}
.color-ff6600{ color: #ff6600;}
.color-ff9900{ color: #ff9900;}
.color-666666{ color: #666666;}
.color-999999{ color: #999999;}
.bg-white{background: #FFFFFF;}
.bg_color-dd2727{ background: #dd2727;}
.bg_color-ff6600{ background: #ff6600;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{ margin-bottom: 15px;}
.mb20{ margin-bottom: 20px;}
.mb30{ margin-bottom: 30px;}
.mb50{ margin-bottom: 50px;}
.mr0{ margin-right:0!important;}
.mr10{ margin-right: 10px;}
.mr20{ margin-right: 20px;}
.mr30{ margin-right: 30px;}
.ml10{ margin-left: 10px;}
.m_r_l-10{margin: 0 10px;}
.mlr5{ margin: 0 5px;}
.pt10{ padding-bottom: 10px!important;}
.size12{ font-size: 12px;}
.size16{ font-size: 16px;}
.size18{font-size: 18px;}
.center{ text-align: center;}
.line2{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.container{ width:100%; margin:0 auto; overflow-x:hidden; padding: 0; max-width: 768px;}

/*弹性盒子css*/
.cell{
  display: -webkit-box; /*Safari and Chrome */
    display: -ms-flexbox;
  display: -moz-box; /*Firefox */
    display: flex;
    -webkit-box-align: center;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
}
.cell_primary{
  -webkit-box-flex: 1;/* Safari and Chrome */
     -moz-box-flex: 1; /* Firefox */
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
}
.cell_primary2{
  -webkit-box-flex: 2;/* Safari and Chrome */
     -moz-box-flex: 2; /* Firefox */
        -webkit-flex: 2;
            -ms-flex: 2;
                flex: 2;
}
.cell_primary3{
  -webkit-box-flex: 3;/* Safari and Chrome */
     -moz-box-flex: 3; /* Firefox */
        -webkit-flex: 3;
            -ms-flex: 3;
                flex: 3;
}
.cell_primary4{
  -webkit-box-flex: 4;/* Safari and Chrome */
     -moz-box-flex: 4; /* Firefox */
        -webkit-flex: 4;
            -ms-flex: 4;
                flex: 4;
}
.cell_primary5{
  -webkit-box-flex: 5;/* Safari and Chrome */
     -moz-box-flex: 5; /* Firefox */
        -webkit-flex: 5;
            -ms-flex: 5;
                flex: 5;
}
/*弹性盒子end*/

/*首页开始*/
.head{ width: 100%; height:44px; background: #DD2727; }
.head p{ line-height: 44px; text-align: center; color: #FFFFFF; font-weight: bold; font-size: 20px;}
/*首页焦点图*/
.sliderout {
	width:100%;
}
.slider {
	display:none;
}/*用于获取更加体验*/
.focus span {
	width:8px;
	height:8px;
	margin-right:10px;
	border-radius:50%;
	border:1px solid #dd2727;
	font-size:0;
	border-radius:50%;
}
.focus span.current {
	background:#dd2727;
}
/*首页焦点图end*/
/*首页导航部分*/
.nav{ width:100%;}
.nav .cell_primary{ text-align: center;}
.nav .cell_primary a{border-right: 1px solid #EBEBEB; display: block; padding: 10px 0;}
.nav .cell_primary .nav-icon{  width: 60px; height: 60px; margin: 0 auto;}
.nav .cell_primary .nav-cake{ background: url(../images/M-icon01.png) no-repeat 0 0;}
.nav .cell_primary .nav-baike{ background: url(../images/M-icon01.png) no-repeat 0 -90px;}
.nav .cell_primary .nav-news{ background: url(../images/M-icon01.png) no-repeat 0 -180px;}
.nav .cell_primary .nav-blog{ background: url(../images/M-icon01.png) no-repeat 0 -270px;}
.nav .cell_primary h4{ margin-top: 5px;}
/*首页菜单部分*/
.mainbox{ background: #f0f0f0; padding:15px 10px; box-sizing: border-box;}
.menu-list .cell{ padding: 5px; box-sizing: border-box; border-radius: 4px; align-items: flex-start; margin-bottom: 15px;}
.menu-list .cell .menu-pic{ width: 100px; margin-right: 3%;}
.menu-list .cell .cell_primary{ line-height: 1.2;}
.footer{ background: #e5e5e5; position: absolute; bottom: 0; left: 0; width: 100%; z-index: 999;}
.footer .footer-title{ text-align: center; padding: 3px 0; display: block;}
.footer .footer-title span{display: block; color: #666; font-size: 12px;}
.footer .footer-title .footer-title-icon{ width: 24px; height: 24px; margin: .2em auto 0em;}
.footer .on .home{ background: url(../images/icon05-on.png) no-repeat; background-size: 24px;}
.footer .on span{ color: #DD2727;}
.footer .footer-title .menu{background: url(../images/icon06.png) no-repeat; background-size: 24px;}
.footer .footer-title .us{background: url(../images/icon07.png) no-repeat; background-size: 24px;}
.footer .footer-title .personal{background: url(../images/icon08.png) no-repeat; background-size: 24px;}
/*首页开始end*/
/*登陆注册页面开始*/
.wrapbox{ width: 100%; height:100%!important; background:url(../images/M-bg.jpg) no-repeat center; background-size: cover; position: relative;}
.wrapbox .back{ position: absolute; left:15px; top:15px; width: 24px; height: 24px;}
.wrapbox .logo{ width: 25%; margin: 0 auto; padding: 5% 0;}
.wrapbox .form-group{ padding: 0 12%; box-sizing: border-box;}
.wrapbox .form-group .cell{ padding: 5px 0; border-bottom: 1px solid #999; margin-bottom: 15px;}
.wrapbox .form-group .icon{ width: 24px; margin-right:15px;}
.wrapbox .form-group .weui_input{ font-size: 18px; color: #FFFFFF;}
.wrapbox .form-group .input-btn{ width: 100%; display: block; background: rgba(255,0,0,0.3); border: 0; font-size: 18px; color: #FFFFFF; padding: 15px 0;}
.wrapbox .User-notes{width:100%; /*position: absolute; bottom: 5%;*/ text-align: center; color: #e2e2e2; margin-top:23%;}
.wrapbox .weui_cell_hd{  padding-right: 15px; color: #FFFFFF;}
.wrapbox .weui_cell_hd .weui_label{width: 4em;}
/*登陆注册页面结束*/
/*产品页开始*/
.head-rel{ position: relative;}
.back02{ position: absolute; left:15px; top:10px; width: 24px; height: 24px; display: block;}
.product{ width: 100%; background: #f2f3f7;}
.title-nav{ background: #FFFFFF; margin-bottom: 10px;}
.title-nav .title-nav-item{ width: calc(100% / 5); font-size: 16px; padding: 10px 0; float: left; text-align: center;}
.title-nav .active{ color: #DD2727; border-bottom: 1px solid #DD2727;}
.product-type .cell{ padding: 5px 10px; box-sizing: border-box;  align-items: flex-start; margin-bottom: 10px; background: #FFFFFF;}
.product-type .cell .menu-pic{ width: 100px; margin-right: 3%;}
.product-type .cell .cell_primary{ line-height: 1.2;}
.tellbox{position: fixed; bottom: 0; width: 100%; padding: 10px 0; box-sizing: border-box; background: rgba(0,0,0,0.8);z-index: 99;}
.tellbox h3{ color: #FFFFFF; background: url(../images/tell.png) no-repeat 15px 0; background-size:30px; line-height: 30px; padding-left: 50px; box-sizing: border-box;}
.tellbox h3 a{ color: #FFFFFF;}
.tellbox h3 span{ font-size: 24px; margin-right: 5px;}
/*产品页结束*/
/*产品内页开始*/
.product-inner .plate{ background: #FFFFFF; padding: 10px 15px; box-sizing: border-box; margin-bottom: 10px;}
.product-inner .plate1 .cell{align-items: flex-start;}
.product-inner .plate1 .collection{ line-height: 24px;display: inherit;}
.product-inner .plate1 .collection span{ display: inline-block; width: 24px; height: 24px;}
.panel__hd{border-bottom: 1px solid #e5e5e5; padding-bottom: 5px;}
.tj-product li{ width: calc((100% - 20px) / 2); float: left;}
/*产品内页结束*/

/*错误页面css*/
.pic_404{ padding: 15% 0;}
.pic_404 img{ margin-bottom: 20px;}
.pic_404 h2{ text-align: center;}
.back-btn{ color:#dd2727; font-size: 16px; display: inline-block; line-height: 24px; background: url(../images/back02.png) no-repeat 0 3px; background-size:28px ; padding-left: 28px;}
/*百科列表页*/
/*.baike-list{ padding-top: 10px;}*/
.baike-plate{background: #FFFFFF; padding: 10px 15px; box-sizing: border-box; margin-bottom: 10px;}
.baike-plate:last-child{ margin: 0;}
.baike-list-plate .cover-pic{ width: 35%; margin-right: 5%;}
.baike-list-plate .collect{display: inline-block; background: url(../images/sc.png) no-repeat 0 2px; background-size:20px; padding-left: 24px; float: right;}
/*百科详情页*/
.baike-inner-plate .cover-pic02{ width: 44%;margin-right: 3%; position: relative;}
.baike-inner-plate .cover-word{ position: absolute; bottom: 0; left: 0; line-height: 24px; color: #FFFFFF; background: rgba(0,0,0,0.5); width: 100%; text-align: center;}
.baike-inner-plate .cell{ align-items: flex-start;}
.baike-inner-plate ul.remark{ font-size: 12px; color: #999999;}
.baike-inner-plate ul.remark li{overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.baike-inner-plate ul.remark li label{ width: 4em; text-align: left; display: inline-block;}
.baike-inner-plate .summary{ color: #999999; padding-bottom:10px; border-bottom: 1px solid #e5e5e5; margin-bottom: 10px;}
.sharebox span{ display: inline-block; margin-right: 12px; line-height: 24px; padding-left: 22px;}
.sharebox span.on{ color: #dd2727;}
.sharebox span.love{ background: url(../images/sc.png) no-repeat 0 4px; background-size:20px;}
.sharebox span.house{ background: url(../images/house.png) no-repeat 0 2px; background-size:20px;}
.sharebox span.share{ background: url(../images/share.png) no-repeat 0 2px; background-size:20px;}
.sharebox span.comment{ background: url(../images/comment.png) no-repeat 0 2px; background-size:20px;}
/*百科图集*/
.atlas-list{ padding: 15px 15px 0; box-sizing: border-box;}
.atlas-list li{ width: calc((100% - 15px) / 2); float: left; margin-bottom: 15px; position: relative;}
.atlas-list li p{ position: absolute; bottom: 0; line-height: 24px; color: #FFFFFF; background: rgba(0,0,0,0.4); width: 100%; text-align: center; }
.atlas-list li:nth-child(odd){ margin-right: 15px;}
/*新闻列表页*/
.news-list .news-type .cell{ padding: 10px 15px; box-sizing: border-box; margin-bottom: 10px;}
.news-list .news-type .news-pic{ width: 35%; margin-right: 5%;}
.news-list .news-type .cell h4{ margin-bottom: 5px;}
.news-list .news-type .cell p{ font-size: 12px;}
.news-list .news-type .cell p span{ margin: 0 5px;}
/*新闻详情页*/
.news-inner{ padding: 10px 15px;}
.news-inner-title{ margin-bottom: 10px;}
.news-inner-title p span{ margin: 0 5px;}
.news-inner-warp img{ width: 100%; margin-bottom: 10px;}
.news-inner-warp p{ margin-bottom: 10px; color: #999999;}
.share dl {
    margin: 15px 8px 5px;
    text-align: right;
}
.share dd, .share dt {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.share dt {
	color: #666666;
    padding: 0 0 0 8px;
}
.share dd span {
	display: inline-block;
    margin-left: 5px;
    width: 33px;
    height: 33px;
    background-image: url(../images/share_icon.png);
    -webkit-background-size: 198px 33px;
    -moz-background-size: 198px 33px;
    -o-background-size: 198px 33px;
    background-size: 198px 33px;
    background-repeat:no-repeat;
}
.share-wx{ background-position: -99px 0;}
.share-qzone {
    background-position: -33px 0;
}
.share-wb {
    background-position: -66px 0;
}
/*关于饺耳*/
.our-list{ background: #FFFFFF; padding:10px 15px; box-sizing: border-box; margin-bottom: 10px;}
.our-list:last-child{margin: 0;}
.our-list img,.our-list h3,.our-list h4,.our-list h5{ margin-bottom: 10px;}
.our-list .double-pic li{ width: calc((100% - 15px) / 2); float: left;}
.our-list .double-pic li:nth-child(odd){ margin-right: 15px;}
.our-list p,.our-list ul{ color: #999999; margin-bottom: 5px;}
/*博客页面*/
/*.blog-list{ padding-top: 10px;}*/
.blog-plate{background: #FFFFFF; padding: 10px 15px; box-sizing: border-box; margin-bottom: 10px;}
.blog-list-plate .cover-pic{ width: 35%; margin-right: 3%;}
.blog-list-plate h4{ margin-bottom: 5px;}
.blog-list-plate .collect{display: inline-block; background: url(../images/sc.png) no-repeat 0 2px; background-size:20px; padding-left: 20px; float: right;}
/*博客内页*/
.blog-inner .user-tx{ width: 32px; height: 32px; margin-right: 10px;}
.blog-inner .bottom-line{ padding-bottom: 10px; border-bottom: 1px solid #E5E5E5;}
.blog-inner .form textarea{ width: 100%; padding: 5px; box-sizing: border-box; margin-bottom: 10px; height: 5em; overflow-y: auto;}
.blog-inner .form .submit{ padding: 3px 15px; float: right; display:block;}
.blog-plate:last-child{ margin: 0;}
